# Python vertsion: 2.7.x

scrapy==1.0.5
pymongo==2.6.2
simplejson==3.8.1
redis==2.10.3
apscheduler==3.1.0
pexpect==4.0.1
boto==2.38.0
scrapyd==1.1.0
python-scrapyd-api==2.0.1
supervisor==3.2.3
tld==0.7.6
paramiko==1.16.0
flask==0.11.1
selenium==2.53.2
bs4
schedule
python_Levenshtein==0.12.0  # linux: download package, python setup.py build, python setup.py install